<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grapecity.xuni.samples.flexgrid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:configChanges="orientation|screenSize" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.GettingStartedActivity" android:label="@string/gettingStarted"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.ColumnDefinitionsActivity" android:label="@string/columnDefinitions"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.SelectionModesActivity" android:label="@string/selectionModes"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.EditingActivity" android:configChanges="orientation|screenSize" android:label="@string/editing"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.EditConfirmationActivity" android:label="@string/editConfirm"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.CustomCellsActivity" android:label="@string/customCells"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.GroupingActivity" android:label="@string/grouping"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.RowDetailsActivity" android:configChanges="orientation|screenSize" android:label="@string/rowDetails"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.FilterActivity" android:configChanges="orientation|screenSize" android:label="@string/filter"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.FullFilterActivity" android:label="@string/fullFilter"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.ColumnLayoutActivity" android:configChanges="orientation|screenSize" android:label="@string/columnLayout"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.ConditionalFormattingActivity" android:label="@string/conditionalFormatting"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.StarSizingActivity" android:label="@string/starSizing"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.CellFreezingActivity" android:label="@string/cellFreezing"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.CustomMergingActivity" android:label="@string/customMerging"></activity>
        <activity android:name="com.grapecity.xuni.samples.flexgrid.samples.OnDemandActivity" android:label="@string/onDemand"></activity>
    </application>

</manifest>
