<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grapecity.xuni.samples.flexchart"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GettingStartedActivity" android:label="@string/gettingStarted" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".AnimationOptionsActivity" android:label="@string/animationOptions"></activity>
        <activity android:name=".UpdateAnimationActivity" android:label="@string/updateAnimation"></activity>
        <activity android:name=".ConditionalFormattingActivity" android:label="@string/conditionalFormatting" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".BasicChartTypesActivity" android:label="@string/basicChartTypes"></activity>
        <activity android:name=".BubbleChartActivity" android:label="@string/bubbleChart" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".CustomizingAxesActivity" android:label="@string/customizingAxes" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".CustomizingAxesLabelActivity" android:label="@string/customizingAxesLabel" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".CustomPlotElementsActivity" android:label="@string/customPlotElements" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".CustomTooltipsActivity" android:label="@string/customTooltips" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".DataLabelsActivity" android:label="@string/dataLabels"></activity>
        <activity android:name=".DynamicChartsActivity" android:configChanges="orientation|screenSize" android:label="@string/dynamicCharts"></activity>
        <activity android:name=".FinancialChartTypesActivity" android:label="@string/financialChart"></activity>
        <activity android:name=".HitTestActivity" android:label="@string/hitTest"></activity>
        <activity android:name=".LegendAndTitlesActivity" android:label="@string/legendAndTitles" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".MixedChartTypesActivity" android:label="@string/mixedChartTypes" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".MultipleAxesActivity" android:label="@string/multipleAxes" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".SelectionModesActivity" android:label="@string/selectionModes"></activity>
        <activity android:name=".StylingSeriesActivity" android:label="@string/stylingSeries" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".ThemingActivity" android:label="@string/theming"></activity>
        <activity android:name=".ToggleSeriesActivity" android:label="@string/toggleSeries"></activity>
        <activity android:name=".ZoomingAndScrollingActivity" android:label="@string/zoomingAndScrolling" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".SnapshotActivity" android:label="@string/snapshot" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".ScrollingActivity" android:label="@string/scrolling" android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".CustomMarkerActivity" android:label="@string/customMarker"></activity>
        <activity android:name=".AnnotationActivity" android:label="@string/annotation"></activity>
    </application>

</manifest>
