<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grapecity.xuni.samples.collectionview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />
	<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         
        <activity
            android:name="com.grapecity.xuni.samples.collectionview.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SortingActivity" android:label="@string/sorting"></activity>
        <activity android:name="FilteringActivity" android:label="@string/filtering"></activity>
        <activity android:name="GroupingActivity" android:label="@string/grouping"></activity>
        <activity android:name="SimpleOnDemandActivity" android:label="@string/simple_on_demand"></activity>
       
    </application>

</manifest>
